<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Rails Views (Part I)</title>

		<meta name="description" content="Rails Views">
		<meta name="author" content="Vasyl Lasiak">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/night.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h2>Rails Views</h2>
					<h3>(Part I)</h3>
				</section>

				<section>
					<h2>Quick lecture overview</h2>
					<ul>
						<li class="fragment grow highlight-current-blue">Why do we need views?</li>
						<li class="fragment grow highlight-current-blue">Views rendering</li>
						<li class="fragment grow highlight-current-blue">Templates, Partials and Layouts</li>
						<li class="fragment grow highlight-current-blue">Some Action View helpers overview</li>
						<li class="fragment grow highlight-current-blue">FormHelper</li>
						<li class="fragment grow highlight-current-blue">FormTagHelper</li>
					</ul>
				</section>

				<section>
					<h3>Why do we need views?</h3>
					<p align="left">In the Model-View-Controller (MVC) pattern, views are intended exclusively for encapsulating presentation logic. They should not contain any application logic or database retrieval code. All application logic should be handled by the controller. A view renders the appropriate UI by using the data that is passed to it from the controller.</p>
				</section>

				<section>
					<h3>Views rendering</h3>
					<p align="left">Rails promotes "convention over configuration". Default rendering is an excellent example of this. By default, controllers in Rails automatically render views with names that correspond to valid routes. Rails will automatically look for the action_name.html.erb template in the controller's view path and render it.</p>
				</section>

				<section>
					<h3>Another way</h3>
					<p align="left">There are a variety of ways to customize the behavior of render. You can render the default view for a Rails template, or a specific template, or a file, or inline code, or nothing at all. You can render text, JSON, or XML.</p>
					<pre><code>
def update
  @product = Product.find(params[:id])
  if @product.update(product_params)
    redirect_to(@product)
  else
    render 'edit'
  end
end
					</code></pre>
				</section>

				<section>
					<h3>Examples</h3>
					<pre style="font-size: 0.75em"><code>
render nothing: true #rendering nothing
render 'products/show' #rendering from another controller
render template: 'products/show' #actually the same
render "/u/apps/warehouse_app/current/app/views/products/show" #rendering from another file
render file: "/u/apps/warehouse_app/current/app/views/products/show" #actually the same
render inline: "<% products.each do |p| %><p><%= p.name %></p><% end %>" #rendering ERB directly
render html: "<span>Success</span>".html_safe #rendering HTML directly
render plain: 'OK' #rendering text
render json: @product #rendering JSON
render xml: @product #rendering XML
render js: "alert('Hello Rails');" #rendering JS
					</code></pre>
				</section>

				<section>
					<h3>ERB explanation</h3>
					<p align="left">ERB (Embedded RuBy) is a feature of Ruby that enables you to conveniently generate any kind of text, in any quantity, from templates. The templates themselves combine plain text with Ruby code for variable substitution and flow control, which makes them easy to write and maintain.</p>
					<pre><code>
Hello, <%= @name %>.
Today is <%= Time.now.strftime('%A') %>.

 <% for @item in @shopping_list %>
   <%= @item %>
 <% end %>
					</code></pre>
					<p align="left">Within an ERB template, Ruby code can be included using both <% %> and <%= %> tags. The <% %> tags are used to execute Ruby code that does not return anything, such as conditions, loops or blocks, and the <%= %> tags are used when you want output.</p>
				</section>

				<section>
					<h3>Templates, Partials and Layouts</h3>
					<p align="left">As mentioned, the final HTML output is a composition of three Rails elements: Templates, Partials and Layouts.</p>
				</section>

				<section>
					<h3>Templates</h3>
					<pre><code>
<%= form_for(@product) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
					</code></pre>
				</section>

				<section>
					<h3>Partials</h3>
					<p align="left">Partial templates - usually just called "partials" - are another device for breaking the rendering process into more manageable chunks. With partials, you can extract pieces of code from your templates to separate files and also reuse them throughout your templates.</p>
					<pre><code>
<%= render "shared/menu" %>
					</code></pre>
					<p align="left">That code will pull in the partial from app/views/shared/_menu.html.erb. Sharing variables between partials: </p>
					<pre><code>
<%= render partial: "product", locals: {product: @product} %>
<%= render partial: "product", as: "item" %>
					</code></pre>
				</section>

				<section>
					<h3>Layouts</h3>
					<p align="left">Layouts can be used to render a common view template around the results of Rails controller actions. Typically, a Rails application will have a couple of layouts that pages will be rendered within. For example, a site might have one layout for a logged in user and another for the marketing or sales side of the site.</p>
					<pre><code>
articles/show.html.erb
<%= render partial: 'article', layout: 'box', locals: {article: @article} %>

#articles/_box.html.erb
<div class='box'>
  <%= yield %>
</div>
					</code></pre>
					<a href="http://guides.rubyonrails.org/layouts_and_rendering.html#structuring-layouts" target="_blank">More about layouts</a>
				</section>

				<section>
					<h3>Some Action View helpers overview</h3>
					<a href="http://guides.rubyonrails.org/action_view_overview.html#overview-of-helpers-provided-by-action-view">Rails Guide (Helpers)</a>
				</section>

				<section>
					<h3>FormHelper</h3>
					
				</section>

				<section>
					<h3>FormTagHelper</h3>
					
				</section>

				<section>
					<img src="img/QA.jpg" width="85%" alt="Q&A" style="border: none" />
					<h6 class="fragment">No questions? No answers!</h6>
					<p>
						<small>Created by Vasyl Lasiak / <a href="https://github.com/vlasiak" target="_blank">@vlasiak</a></small>
					</p>
				</section>
			</div>
		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				slideNumber: true,
				history: false,
				center: true,
				overview: true,
				touch: true,
				loop: false,
				autoSlide: 0,

				transition: 'zoom', // none/fade/slide/convex/concave/zoom
				transitionSpeed: 'fast', // default/fast/slow

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>
	</body>
</html>
